@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Smart_City</title>

    <link rel="stylesheet" href="~/css/site.css?v=1" />
    <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css?" />
    
</head>
<body>

    <div id="BaraSus">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="text-center">
                    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index","Home")'">
                        <i class="fa fa-home"></i>
                    </button>
                    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Contact","Home")'">
                        <i class="fa fa-phone"></i>
                    </button>
                    <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("About","Home")'">
                        <i class="fa fa-info-circle"></i>
                    </button>
                </div>
            </div>
        </nav>
    </div>
   
    <div class="container-fluid">
        @RenderBody()
    </div>
        <footer class="container-fluid">
            <div class="nav navbar-inverse navbar-fixed-bottom"><h4 class="text-center text-gray-dark">&copy; 2017 - Smart_City</h4></div>
        </footer>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>  
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>